__pycache__/
*.pyc
*.pyo
*.pyd


.venv/
venv/
env/
.env

.ipynb_checkpoints/


.vscode/





data/input/*
data/bronze/*
data/silver/*
data/gold/*
data/quality/*
data/preview/*





!data/input/.gitkeep
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep
!data/quality/.gitkeep
!data/preview/.gitkeep

spark-warehouse/
metastore_db/
derby.log

*.log
logs/